@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

/* Estilos para garantir que a janela do Tauri seja transparente */
html, body, #root {
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Importante para evitar barras de rolagem */
}

/* Estilo para centralizar o componente no modo de desenvolvimento */
#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
